
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 100%;
    height: auto;

    padding: 60px 0;
}

.logo_header {
    display: flex;
    align-items: center;
    flex-direction: row;

    font-family: var(--dm);
    font-size: var(--h2);
    color: var(--primary2);
}

.logo_icon{
    margin-right: 10px;
    width: 30px;
    content: url('/assets/icons/Logo.svg');
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    width: 625px;

    font-family: var(--jost);
    font-size: var(--h5);

    transition: transform 0.3s ease;
}

.navbar a {
    transition: all 0.2s ease;
}

.navbar a:hover {
    padding-bottom: 5px;
}
.navbar a:focus {
    color: black;
    border-bottom: 2px solid;
}

.navbar_search_icon {
    width: 20px;
    height: 20px;
    content: url('/assets/icons/interface/mini/Search.svg');
}

#checkbox-b {
    display: none;
}

@media screen and (max-width: 1100px) {

    .header {
        padding: var(--medium-size) 0;
    }

    .logo_header {
        font-size: var(--h4);
    }

    .logo_icon{
        width: 20px;
    }
    .navbar {
       display: none;
    }

    .menu-button-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        right: 0;
        width: 30px;
        height: 30px;
      }

    .menu_button,
    .menu_button::before,
    .menu_button::after {
        position: absolute;
        display: block;
        justify-content: end;
        
        height: 2px;
        width: 20px; 
        background-color: var(--primary2);
        
        border-radius: 2px;
        z-index: 15;
        transition: transform 0.3s ease;
    }

    .menu_button::before {
        content: '';
        margin-top: -6px;
    }

    .menu_button::after {
        content: '';
        margin-top: 6px;
    }

    #checkbox-b:checked + .menu-button-container .menu_button::before {
        transform: rotate(135deg);
        margin-top: 0px;
    }

     #checkbox-b:checked + .menu-button-container .menu_button {
        background-color: transparent;
    }

    #checkbox-b:checked + .menu-button-container .menu_button::after {
        transform: rotate(-135deg);
        margin-top: 0px;
    }

    #checkbox-b:checked ~ .navbar {
        position: absolute;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        right: 0;
        top: 0;
        height: 600px;
        width: auto;

        margin: 20px 15px; 
        padding: 0 45px; 
        z-index: 10;
        background-color: var(--white);
        border-radius: 40px;
        box-shadow: 0px 10px 20px #1F2022;
    }
}