
.header {
    display: flex;
    align-items: center;
    max-width: var(--maxw);
    justify-content: space-between;
    height: auto;
    padding: 60px 0;
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: var(--dm);
    font-size: var(--h2);
    color: var(--primary2);
}

.logo_icon{
    margin-right: 10px;
    width: 30px;
    height: 30px;
    content: url('/assets/icons/Logo.svg');
}

.navbar {
    width: 625px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-family: var(--jost);
    font-size: var(--h5);
}

.navbar_search_icon {
    width: 20px;
    height: 20px;
    content: url('/assets/icons/interface/mini/Search.svg');
}

.navbar a {
    color: var(--primary2);
    text-decoration:none
}

@media screen and (max-width: 1000px) {
    .header {
        padding: var(--medium-size) 0;
    }

    .logo {
        font-size: var(--h3);
    }

    .navbar {
        display: none;
    }

    .menu_button,
    .menu_button::before,
    .menu_button::after {
    display: block;
    background-color: var(--primary2);
    justify-content: end;
    height: 2px;
    width: 20px;
    border-radius: 2px;
    }

    .menu_button::before {
    content: '';
    margin-top: -6px;
    }

    .menu_button::after {
    content: '';
    margin-top: 10px;
    }
}