@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,300;0,700;1,300&display=swap');

@import '/styles_constants/_colors.css';
@import '/styles_constants/_typography.css';
@import '/styles_constants/_sizes.css';
@import './buttons.css';


@import './header.css';
@import './main_section/main_section.css';


body {
    display: flex;
    justify-content: center;
    background-color: var(--white);
}

.main {
    display: flex;
    justify-content: center;
    width: auto;
}

.common_wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: var(--maxw);
    min-width: var(--minw);
}