.join_offer_section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 5em 0;

    background-color: var(--primary2);
    border-radius: 70px;

    text-align: center;

    margin-bottom: var(--large-size);
}

.offer_title {
    font-size: var(--h1);
    color: var(--white);

}

.offer_text {
    margin-top: 10px;

    font-size: var(--h4);
    color: var(--white);

}

.offer_button {
    background-color: #784C2B;
    width: var(--btnw-default);
    margin-top: var(--medium-size);

    box-shadow: 0px 10px 20px #1F2022;
}

@media screen and (max-width: 1100px) {
    .offer_title {
        font-size: var(--h2);
    }
    
    .offer_text {
        font-size: var(--h6);
    }
}