.main_section {
    display: flex;
    position: relative;
    border-radius: 70px;
    width: 1201px;
    height: 758px;
    background: url('/assets/images/content/header.svg');
    margin-bottom: var(--large-size);
}

.main_article {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: var(--medium-size);
    width: 435px;
}

.main_article_title {
    font-size: var(--art-title);
    line-height: 81px;
}

.main_article_text {
    font-family: var(--jost);
    font-size: var(--h4);
    padding-bottom: var(--min-size) ;
}

.main_article_button {
    background-color: var(--primary2);
}

