.main_section {
    display: flex;
    border-radius: 70px;
    max-width: 1201px;
    height: 758px;
    background: url('/assets/images/content/header.svg');
    background-repeat: no-repeat;
    margin-bottom: var(--large-size);
}

.main_article {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 var(--medium-size);
    width: 435px;
}

.main_article_title {
    font-size: var(--art-title);
    line-height: 81px;
}

.main_article_text {
    font-family: var(--jost);
    font-size: var(--h4);
    padding-bottom: var(--min-size) ;
}

.main_article_button {
    background-color: var(--primary2);
}

@media screen and (max-width: 1000px) {
    .main_article_title {
        font-size: var(--h1);
        line-height: 50px;
    }

    .main_section {
        height: 550px;
        background-position: center;
        margin-bottom: var(--medium-size);
    }
}