.news_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
    margin-bottom: var(--large-size);
}

.news_section_text {
    max-width: 800px;
    margin-bottom: var(--text-padding);
}

.news_section_title {
    font-size: var(--h1);
}

.news_container {
    display: flex;
    align-items: center;
    
    height: 550px;
    width: 100%;
    overflow-x: auto;
}

.news_card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
    margin-right: 25px;
    min-width: 380px;
    height: 520px;

    border: 1px solid var(--border);
    border-radius: 62px;
}
.news_card:last-child {
    margin-right: 0;
}

.news_card_content {
    display: flex;
    flex-direction: column;

    width: 340px;
}

.news_card_image_container {
    display: flex;
    align-items: flex-end;
    height: 290px;
    border-radius: 45px 45px 0px 0px;
    margin-bottom: var(--min-size);
}

.news_card_image1 {
    background-image: url('/assets1/images/content/news/Photo.webp');
}
.news_card_image2{
    background-image: url('/assets1/images/content/news/Photo-1.webp');
}
.news_card_image3{
    background-image: url('/assets1/images/content/news/Photo-2.webp');
}

.news_card_badge {
    display: flex;
    align-items: center;
    justify-content: center ;
    background-color: var(--white);

    margin: 20px;
    width: 125px;
    height: 40px;

    border-radius: 8px 8px 8px 0px;

    font-size: var(--mini);
}

.news_card_title {
    max-width: 305px;
    height: 90px;
    font-size: var(--h3);
    text-align: left;
    margin-bottom: var(--medium-size);
}

.news_card_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.news_card_date {
    font-size: var(--mini);
}

.news_card_arrow_button {
    content: url('/assets/icons/interface/arrow.svg');
    width: 52px;
}

@media screen and (max-width: 450px) {
    .news_section_subtitle {
        font-size: var(--h4);
    }
    
    .news_section_title {
        font-size: var(--h2);
    }

    .news_card {
        min-width: 300px;
        height: 480px;
    }

    .news_card_image_container {
        height: 250px;
    }

    .news_card_content {
        width: 260px;
    }

    .news_card_title {
        font-size: var(--h4);
    }
}