.reviews_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: var(--primary3);
    border-radius: 70px;

    height: 660px;
    padding: 0 20px;

    margin-bottom: var(--large-size);
}

.reviews_section_title {
    max-width: 550px;
    text-align: center;

    font-size: var(--h1);
    letter-spacing: 0.02em;
    line-height: 125%;

    padding-bottom: var(--medium-size);
}

.reviews_section_blocks {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
    height: auto;
    width: 100%;
    overflow-x: auto;
}

.user_review_card {
    background-color: var(--white);

    width: 370px;
    height: 340px;
    margin: 0 10px;

    border-radius: 35px;
}

.user_review_card_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: var(--medium-size);
}

.user_data {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: var(--min-size);
}

.user_data_avatar {
    background-image: url('/assets/images/avatars/Photo.png');
}

.user_data_avatar1 {
    background-image: url('/assets/images/avatars/Photo-1.png');
}

.user_data_avatar2 {
    background-image: url('/assets/images/avatars/Photo-2.png');
}

.user_data_text {
    display: flex;
    flex-direction: column;
    padding-left: var(--min-size);

    font-size: var(--h6);
    margin: 0;
}

.user_data_text_name {
    font-size: var(--h4);
}

.user_comment {
    width: 295px;
    overflow: hidden;
    word-wrap: break-word;
}

@media screen and (max-width: 500px) {
    .reviews_section {
        height: 550px;
    }

    .reviews_section_blocks {
        height: 280px;
    }

    .reviews_section_title {
        font-size: var(--h2);
    }

    .user_data {
        padding-bottom: 10px;
    }

    .user_review_card {
        width: 270px;
        height: 250px;

        border-radius: 25px;
    }

    .user_comment {
        width: 210px;
        font-size: var(--h6);
    }

    .user_data_text_name {
        font-size: var(--h6);
    }

    .user_data_text_address {
        font-size: var(--h6);
    }

    .user_review_card_content {
        padding: var(--min-size);
    }

}