.statements_section {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: var(--large-size);
    width: 100%;
}

.statement_container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
    padding: 0 var(--min-size);
}

@media screen and (max-width: 1000px) {
    
    .statements_section {
        display: flex;
        flex-direction:column;
        align-items: center;
        margin-bottom: var(--medium-size);
    }

    .statement_container { 
        max-width: 500px;
        margin: var(--medium-size) 0;
    }
}

.statement_text {
    text-align: center;
}

.statement_link {
    display: flex;
    flex-direction: row;
    align-items: center;

    text-decoration: none;
    font-family: var(--jost);
    font-weight: 700;
    font-size: var(--h6);
    
    color: var(--text);
}

.statement_link_text {
    transition: all 0.2s ease;
}
.statement_link_text:hover {
    color: black;
    margin-right: 15px;
}