.statements {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: var(--large-size);
    width: 100%;
}

@media screen and (max-width: 800px) {
    .statements {
        display: flex;
        flex-direction:column;

        align-items: center;
    }

    .statement_container { 
        max-width: 560px;
        margin: var(--medium-size) 0;
    }
    
}

.statement_container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
    padding: 0 var(--min-size);
}

.statement_text {
    text-align: center;
}

.statement_link {
    display: flex;
    flex-direction: row;
    align-items: center;

    text-decoration: none;
    font-family: var(--jost);
    font-weight: 700;
    font-size: var(--h6);
    
    color: var(--text);
}