:root {
    --maxw: 1500px;
    --minw: 300px;

    --min-size: 18px;
    --text-padding: 30px;
    --medium-size: 40px;
    --large-size: 150px;


    --btnh: 75px;

    --btnw-min: 220px;
    --btnw-default: 253px;
    --btnw-large: 288px;

}

body {
    --media-w-xs: 400px;
    --media-w-s: 650px;
    --media-w-m: 950px;
    --media-w-l: 1000px;
    --media-w-xl: 1050px;

}