
.btn {
    display: flex;    
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: var(--min-size);

    height: var(--btnh);
    width: var(--btnw-min);

    font-family: var(--jost);
    font-weight: 700;
    font-size: var(--min-size);

    color: var(--white);

    cursor: pointer;
}

.arrow_light_icon{
    width: 18px;
    height: 18px;
    margin-left: 5px;
    content: url('/assets/icons/interface/mini/ArrowPrimary1.svg');
}

.arrow_dark_icon{
    margin-left: 5px;
    content: url('/assets/icons/interface/mini/ArrowPrimary2.svg');
}

.title {
    font-family: var(--dm);
    font-weight: 100;
    letter-spacing: 0.02em;
    line-height: 125%;

    color: var(--primary2);
    margin: 0;
}

.text {
    font-family: var(--jost);
    font-size: var(--h4);
    font-weight: 400;

    line-height: 150%;
    letter-spacing: 0.01em;

    color: var(--text);
}

.avatar {
    background-repeat: no-repeat;
    border-radius: 40px;
    background-position: center;
    position: relative;

    width: 75px;
    height: 75px;
    margin-left: 15px;
}

.logo {
    width: auto;
    height: auto;
    margin: 0 var(--medium-size);
    background-repeat: no-repeat;
}

@media screen and (max-width: 500px) {
    .avatar {
        background-repeat: no-repeat;
        border-radius: 25px;
        
        position: relative;
        width: 50px;
        height: 50px;
        margin-left: 0;
    }
}
